@media all and (min-width:768px){

    body{
        font-size: 0.813rem;
    }

    main{
        height: 100vh;
        align-items: center;
    }

    section{
        padding: 165px 10px;
    }

    .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 25px;
        max-width: 1110px;
        margin: auto;
    }

    .profile-name{
        font-size: 0.938rem;
    }

    .bg-pattern{
        right: 55px;
        width: 130px;
    }

    .bg-purple{
        grid-column: 1 / 3;
    }

    .col3{
        grid-column: 2/1;
    }

    .bg-dark-gray{
        grid-column: 2/4;
    }

    .col5{
        grid-area: 1/4/3;
    }

    .testimonial-wrapper{

        &:not(:last-child){
            margin-bottom: 0;
        }

        .testimonial-title{
            font-size: 1.25rem;
        }
    }
}